/* SHOULD ONLY CONTAIN STYLING THAT APPLIES TO index.html */

.sidebar {
	width: 200px;
	background-color: var(--pale-blue);
	position: fixed;
	height: calc(100vh - 60px);
	overflow: auto;
	display: flex;
	flex-direction: column;
	border-right: 2px solid var(--light-orange);
	top: 60px;
	padding-top: 10px;
}

.sidebar a, .dropdown-btn {
	display: block;
	color: green;
	padding-left: 40px;
	padding-bottom: 5px;
	padding-top: 5px;

	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	text-align: left;
	color: var(--dark-orange) ;
	text-transform: lowercase;
	font-size: 15px;
}

.sidebar .down-arrow-icon {
  float: right;
  padding-right: 10px;
  width: 25px;
  margin-top: 3px;
  margin-right: 50px;
}

.sidebar a:hover, .dropdown-btn:hover {
	background-color: var(--med-blue);
	border-radius: 25px;
	color: var(--white-orange);
}

.dropdown-container {
  display: none;
  background-color: var(--pale-blue);
  padding-left: 15px;
}

main {
	width: calc(100% - 200px);
	height: calc(100vh - 60px);
	background-color: var(--white-blue);
	margin-top: 60px;
	left: 200px;
	right: 0;
}

.content .comm-list {
	justify-content: space-between;
}

.content .comm {
	float: left;
	background-color: var(--med-blue);
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 100px;
	padding-top: 0px;
	padding-left: 40px;
	width: 900px;
	height: 500px;
	border-radius: 25px;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 50px;
	color: var(--white-orange);
}

.picture {
    
    float: left;
    width: 400px;
    height: 350px;
    font-weight: 500;
    border-radius: 25px;
}

#picture-label {
	font-weight: 600;
	font-size: 30px;
	padding-top: 40px;
	font-weight: 700;
}

#picture-img {
	margin-top: 25px;
	border-radius: 25px;
}

.comments {

    float: right;
    width: 450px;
    height: 100%;
    background-color: var(--pale-blue);
    border-left: 2px solid var(--light-orange);
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
		font-weight: 800;
		font-size: 15px;
		color: var(--dark-orange);
    line-height: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

#comment1 {
	border-bottom: 1px solid var(--dark-orange);
	padding-bottom: 25px;
}

.comments .comment-label {
	padding-left: 50px;
	height: 25%;
	font-size: 20px;
	align-content: center;
}

.comments .comment-block {
	height: 50%;
}

.comments .comment-input {
	height: 25%;
}

.user-icon {
	width: 10%;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
}

.user-input {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
	height: 100%;
	width: 90%;
	float: right;
}

.comment-section {
	height: 25%;
}

.user-text {
	font-weight: 600;
	float: left;
	padding-left: 15px;
	padding-top: 15px;
	color: var(--dark-orange);
}

.comment-input-box {
	background-color: var(--white-orange);
	border: 1px solid var(--light-orange);
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	height: 90%;
	width: 95%;
	border-radius: 25px;
	text-transform: none;
	font-size: 15px;
	font-weight: 500;
}

#hidden {
	visibility: hidden;
}


/* RESPONSIVE DESIGN FOR SIDE BAR INCOMPLETE */
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
		flex-direction: row;
		border-right: none;
		border-top: 2px solid var(--light-orange);
		border-bottom: 2px solid var(--light-orange);
		justify-content: space-between;
		text-align: center;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		z-index: 100;
		top: auto;
		flex-wrap: wrap;
	}

	.sidebar a {
		float: center;
		text-align: center;
		margin-right: 0px;
		margin-left: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.sidebar a:hover {
	}

	div.content {
		margin-left:0;
	}

	.dropdown {
		display: flex;
	}

	.dropdown-btn .down-arrow-icon {
		height: 12px;
	}

	.dropdown-btn {
		display: flex;
	}

	.sidebar a, .dropdown-btn {
		font-size: 13px;
	}

	.dropdown-container {
		position: unset;
	}
}