/* SHOULD ONLY CONTAIN STYLING THAT APPLIES TO index.html */

.sidebar {
	width: 200px;
	background-color: var(--pale-blue);
	position: fixed;
	height: calc(100vh - 60px);
	overflow: auto;
	display: flex;
	flex-direction: column;
	border-right: 2px solid var(--light-orange);
	top: 60px;
	padding-top: 10px;
}

.sidebar a, .dropdown-btn {
	display: block;
	color: green;
	padding-left: 40px;
	padding-bottom: 5px;
	padding-top: 5px;

	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	text-align: left;
	color: var(--dark-orange) ;
	text-transform: lowercase;
	font-size: 15px;
}

.sidebar .down-arrow-icon {
  float: right;
  padding-right: 10px;
  width: 25px;
  margin-top: 3px;
  margin-right: 50px;
}

.sidebar a:hover, .dropdown-btn:hover {
	background-color: var(--med-blue);
	border-radius: 25px;
	color: var(--white-orange);
}

.dropdown-container {
  display: none;
  background-color: var(--pale-blue);
  padding-left: 15px;
}

main {
	width: calc(100% - 200px);
	height: calc(100vh - 60px);
	background-color: var(--white-blue);
	margin-top: 60px;
	left: 200px;
	right: 0;
}

.content .comm-list {
	justify-content: space-between;
}

.content .comm {
	float: left;
	background-color: var(--med-blue);
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 15px;
	padding-top: 60px;
	padding-left: 40px;
	width: 250px;
	height: 250px;
	border-radius: 25px;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 20px;
	color: var(--white-orange);
}

.content .comm:hover {
	box-shadow: 1px 1px 2px black, 0 0 25px var(--light-orange), 0 0 5px var(--dark-orange);
	text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all ease-in-out 1s;
}

#comm1:hover {
	background-image: url(../img/quincy.jpeg);
}

#comm2:hover {
	background-image: url(../img/houseplants.jpeg);
}

#comm3:hover {
	background-image: url(../img/video-games.jpeg);
}

#comm4:hover {
	background-image: url(../img/crafting.jpeg);
}

#comm5:hover {
	background-image: url(../img/books.jpeg);
}

#comm6:hover {
	background-image: url(../img/toys.jpeg);
}

#comm7:hover {
	background-image: url(../img/fashion.jpeg);
}

#comm8:hover {
	background-image: url(../img/home-decor.jpeg);
}

#comm9:hover {
	background-image: url(../img/keyboard.jpeg);
}

/* RESPONSIVE DESIGN FOR SIDE BAR INCOMPLETE */
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
		flex-direction: row;
		border-right: none;
		border-top: 2px solid var(--light-orange);
		border-bottom: 2px solid var(--light-orange);
		justify-content: space-between;
		text-align: center;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		z-index: 100;
		top: auto;
		flex-wrap: wrap;
	}

	.sidebar a {
		float: center;
		text-align: center;
		margin-right: 0px;
		margin-left: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.sidebar a:hover {
	}

	div.content {
		margin-left:0;
	}

	.dropdown {
		display: flex;
	}

	.dropdown-btn .down-arrow-icon {
		height: 12px;
	}

	.dropdown-btn {
		display: flex;
	}

	.sidebar a, .dropdown-btn {
		font-size: 13px;
	}

	.dropdown-container {
		position: unset;
	}
}