body {
	background-color: #7FDBF0;
}

body:after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: url(../img/eevee_linus.jpeg) url(../img/facebook-color.png) url(../img/instagram-color.png);
}

a {
	cursor: pointer;
}

.header-main {
	width: 100%;
	height: 60px;
	background-color: #235A7F;
	display: flex;
	justify-content: space-between;
}

.header-main .header-main-logo {
	width: fit-content;
	height: 100%;
	background-color: yellow;
}

.header-main-logo img {
	height: 30px;
}

.header-main .header-main-nav {
	width: 120px;
	height: 100%;
	background-color: blue;
}

.header-main .header-main-sm {
	width: 120px;
	height: 100%;
	background-color: red;
}

.title {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: italic;
	text-align: left;
	color: white ;
	text-transform: lowercase;
	background-color: #235A7F;
	margin-top: 100px;
}

.main-p {
	color: blue;
}

.img {
	width: 500px;
	margin-left: 100px;
}

.pic {
	width: 300px;
	height: 500px;
	background-image: url(../img/quincy_eevee.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all ease-in-out 1s;
}

.pic:hover {
	background-image: url(../img/eevee_linus.jpeg);
}

.footer-main {
	width: 100%;
	height: 60px;
	background-color: #235A7F;
	display: flex;
	justify-content: space-between;
}

.footer-main .footer-main-logo {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-style: italic;
	text-align: left;
	color: white ;
	text-transform: lowercase;
	font-size: 40px;

	width: fit-content;
	line-height: 60px;
	height: 100%;
	padding-left: 60px;
}

.footer-main .footer-main-nav {
	width: fit-content;
	height: 100%;
}

.footer-main-nav ul {

}

.footer-main-nav ul li {
	display: inline;
	float: left;
}

.footer-main-nav ul li a {
	padding: 0 10px 0 10px;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	line-height: 60px;
	color: white;
	display: block;
	height: 100%;
}

.footer-main-nav ul li a:hover {
	color: #FC6D60;
}

.footer-main .footer-main-sm {
	width: fit-content;
	height: 100%;
	padding-right: 60px;
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.footer-main-sm-fb {
	width: 20px;
	height: 20px;
	background-image: url(../img/facebook-white.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.footer-main-sm-fb:hover {
	background-image: url(../img/facebook-color.png);
}

.footer-main-sm-in {
	width: 25px;
	height: 25px;
	background-image: url(../img/instagram-white.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.footer-main-sm-in:hover {
	background-image: url(../img/instagram-color.png);
}