/* SHOULD ONLY CONTAIN STYLING THAT APPLIES TO signup.html */

main {
	width: 100vw;
	height: calc(100vh - 60px);
	background-color: var(--white-blue);
	margin-top: 60px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.content {
	width: 700px;
	margin-top: 300px;
	display: block;
	color: var(--dark-orange);
}

.content .login-label {
	text-align: center;
	color: var(--dark-orange);
	font-size: 35px;
	font-weight: 600;
}

.content .entry-box {
	padding-right: auto;
	padding-left: auto;
	width: 100%;
}

.content .entry-box input[type=text] {
	padding: 6px;
	border: none;
	margin-top: 11px;
	margin-right: 16px;
	font-size: 17px;
	color: black;
	background-color: white;
	border-radius: 25px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	width: 100%;
	text-align: left;
	border: 1px solid var(--med-blue);
}

.content .enter-button {
	width: 100%;
  	background-color: var(--med-blue);
	color: white;
	padding: 5px 25px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	border-radius: 25px;
	margin-top: 20px;
}

.content .to-sign-up {
	border-top: 2px solid var(--dark-orange);
	margin-top: 30px;
	text-align: center;
}